.wrapHourlyWeather {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  box-shadow: inset 0 0 5px 10px rgba(0, 0, 0, 0.05);
}

.wrapCards {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  overflow: auto;
  cursor: col-resize;
  text-align: center;
}

.hourlyWeatherCard {
  display: block;
  list-style-type: none;
  padding: 0;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin: 0;
  color: #ffffffc4;
  margin-bottom: 0.1rem;
}

.hourlyWeatherCard:hover {
  color: white;
}

.cardList {
  width: max-content;
  margin: 0 auto;
  padding: 0 0.5rem;
  display: grid;
  justify-items: center;
}
.boxTempCardItem {
  height: 60px;
  display: grid;
  align-items: center;
}

.itemTemp {
  width: 100%;
  display: grid;
}
span {
  justify-content: center;
}
@media (max-width: 767px) {
  .wrapHourlyWeather {
    width: 90%;
  }
}
