.wrapHourlyWeather {
  display: flex;
  flex-direction: column;
}
li {
  align-items: center;
}

.wrapCards {
  display: flex;
  flex-direction: row;
  max-width: 100vw;
  overflow: auto;
  cursor: col-resize;
  text-align: center;
}

.hourlyWeatherCard {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0.5rem;
}

.cardItem {
  width: max-content;
  margin: 0 auto;
}

.arrow {
  transform: rotate(90deg);
}
