.wrapHourlyWeather {
  display: flex;
  flex-direction: column;
}

.wrapCards {
  display: flex;
  flex-direction: row;
}

.hourlyWeatherCard {
  list-style-type: none;
  padding: 0;
  margin: 0.5rem;
}

.cardItem {
  width: max-content;
  margin: 0 auto;
}
