.wrapHeader {
  display: grid;
  position: fixed;
  width: 100%;
  height: fit-content;
  align-content: center;
  justify-content: center;
  background: gray;
  background-size: cover;
  background-image: url(../assets/background_current-weather-cloudy_380x750.jpg);
  z-index: 1000;
  padding: 1rem;
  color: white;
  font-size: 1.5rem;
}

.wrapMain {
  padding: 1rem;
  min-height: 100vh;
  background: gray;
  background-size: cover;
  background-image: url(../assets/background_current-weather-cloudy_380x750.jpg);
}

.separator {
  width: 80%;
  height: 1px;
  background: rgba(255, 255, 255, 0.85);
  margin: 0.2rem auto;
}
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  background: rgba(0, 0, 0, 0.125);
}
::-webkit-scrollbar-thumb:horizontal {
  background: rgba(20, 109, 192, 0.904);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(20, 109, 192, 0.904);
  border-radius: 10px;
}
