.searchFrom {
  display: flex;
  width: 100%;
  margin: 0 auto;
}
.searchInput {
  border: 1px solid #ececed;
  border-radius: 4pt;
  padding: 4pt 8pt;
  color: #48484a;
  font-family: Space Grotesk, Arial, sans-serif;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  border-radius: 4pt 0 0 4pt;
  height: 24pt;
}

.searchBtn {
  background-color: #48484a;
  border-color: #48484a;
  color: #f2f2f2;
  border-radius: 0 4pt 4pt 0;
  padding: 0 8pt;
  height: 24pt;
  width: 90px;
  border-style: none;
}
