.wrapFooter {
  display: grid;
  width: 100%;
  position: fixed;
  height: fit-content;
  bottom: 0;
  align-items: center;
  justify-content: center;
  background: gray;
  background: transparent;
  background-size: cover;
  background-image: url(../../assets/background_current-weather-cloudy_380x750.jpg);
}
.footerText {
  color: white;
  margin: 0;
}
